html,
body,
.App,
#root {
  height: 100%;
  background-color: #f1f9f6;
}

h1,
h2 {
  color: #30565f;
}

.App {
  text-align: center;
}

.Header {
  justify-content: space-between;
  align-items: flex-end;
  padding: 2%;
}

.Header-top {
  display: flex;
  justify-content: space-between;
}
